@import 'tailwindcss';


:root,
[data-theme='light'],
[data-mantine-color-scheme='light'] {
  --accent: #d91842;
  --site-bg: var(--color-gray-100);
  --site-button-hover: var(--color-gray-200);
  --site-text: #1a1a1a;
  --site-text-secondary: #454545;
  --site-scrollbar-track: #f5f5f5;
  --mantine-color-body: white !important;
}

[data-theme='dark'],
[data-mantine-color-scheme='dark'] {
  --accent: #d91842;
  --site-bg: #06070a;
  --site-text: #fafafa;
  --site-button-hover: #0e0f14;
  --site-text-secondary: #8b8b8b;
  --site-scrollbar-track: #1a1a1a;
  --mantine-color-body: #08090b !important;
}

@theme {
  --color-accent: var(--accent);
  --color-site-button-hover: var(--site-button-hover);
  --color-site-text-secondary: var(--site-text-secondary);
}

html {
  background-color: var(--site-bg);
}

body {
  font-family: var(--font-inter) !important;
  min-height: 100vh;
  background-color: var(--site-bg);
  color: var(--site-text);
}

html,
body {
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--site-scrollbar-thumb) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--site-scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--site-scrollbar-thumb);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--site-scrollbar-thumb-hover);
}


.theme-switcher-icon-dark {
  display: none;
}

.theme-switcher-icon-light {
  display: block;
}

[data-theme='dark'] .theme-switcher-icon-dark,
[data-mantine-color-scheme='dark'] .theme-switcher-icon-dark {
  display: block;
}

[data-theme='dark'] .theme-switcher-icon-light,
[data-mantine-color-scheme='dark'] .theme-switcher-icon-light {
  display: none;
}