@import 'tailwindcss';

@plugin 'tailwind-scrollbar';

:root,
[data-theme='light'],
[data-mantine-color-scheme='light'] {
  --accent: #d91842;
  --site-bg: white;
  --site-button-hover: var(--color-gray-300);
  --site-text: #1a1a1a;
  --site-text-secondary: #454545;
  --site-scrollbar-track: #f5f5f5;
  --mantine-color-body: white !important;
}

[data-theme='dark'],
[data-mantine-color-scheme='dark'] {
  --accent: #d91842;
  --site-bg: #06070a;
  --site-text: #fafafa;
  --site-button-hover: #0e0f14;
  --site-text-secondary: #8b8b8b;
  --site-scrollbar-track: #1a1a1a;
  --mantine-color-body: #08090b !important;
}

@theme {
  --color-accent: var(--accent);
  --color-site-button-hover: var(--site-button-hover);
  --color-site-text-secondary: var(--site-text-secondary);
}


body {
  font-family: var(--font-inter) !important;
  min-height: 100vh;
  color: var(--site-text);
}

html,
body {
  overflow: hidden;
}

@layer base {
  * {
    @apply scrollbar-thin scrollbar-track-white scrollbar-thumb-gray-400;
  }

  *::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 6px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 6px;
  }

  *::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
}


[data-theme='dark'] *,
[data-mantine-color-scheme='dark'] * {
  @apply scrollbar-track-neutral-700 scrollbar-thumb-neutral-500;
}


.theme-switcher-icon-dark {
  display: none;
}

.theme-switcher-icon-light {
  display: block;
}

[data-theme='dark'] .theme-switcher-icon-dark,
[data-mantine-color-scheme='dark'] .theme-switcher-icon-dark {
  display: block;
}

[data-theme='dark'] .theme-switcher-icon-light,
[data-mantine-color-scheme='dark'] .theme-switcher-icon-light {
  display: none;
}